<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/collection.css" />
</head>

<body>
    <h1>J's Collection</h1>
    <a href="/">Sign out</a>
    <a href="jordans/new">add a pair</a>
    <% jordans.forEach(jordan => { %>
        <h2>
            <img src="<%= jordan.picture%>" alt='shoe pic'/>
            <a href="/jordans/<%= jordan.id %>"><%= jordan.name %></a>
                -
            <%= jordan.worn ? 'okay, i see you!! :flex, eyes:' : 'Hope they look good :eyes:' %>
                -
            <%= jordan.condition %> 
            <form action="/jordans/<%= jordan._id %>?_method=Delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        </h2>
        <% }) %>
        <% if (jordans.length) { %>
            <% } else { %>
                <h2>Hit the footlocker!</h2>
                <% } %>
</body>

</html>