<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/collection.css" />
</head>

<body>
    <h1>J's Collection</h1>
    <a href="/" class="leave">Home</a>
    
    <% jordans.forEach(jordan=> { %>

            <h2>
                <img src="<%= jordan.picture%>" alt='shoe pic' />
                <a href="/jordans/<%= jordan.id %>">
                Edit My <%= jordan.name %> listing
                </a>
                <p>
                    <%= jordan.worn ? 'Worn 👀' : 'Not worn? Okay, i see you!! 💪 🥶' %>
                    <br>
                    <%= jordan.condition %>
                    <br>
                    <%= jordan.comments %>  
                </p>    
                    
                <form action="/jordans/<%= jordan._id %>?_method=Delete" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </h2>

        <br>
        <% }) %>
            <% if (jordans.length) { %>
                <a href="jordans/new" class="add">Add a pair</a>
                <% } else { %>
                    <div>
                        <a href="/jordans/new" class="big">Hit the footlocker!</a> 
                    </div>
                    <% } %>
</body>

</html>