<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/specs.css" />
</head>

<body>
    <h1>Jordan specs</h1>
    <h2>
        <img src="<%= jordan.picture%>" alt='shoe pic'/>
        Name of J's: <%= jordan.name %>
        <p>
            <%= jordan.worn ? 'Hope they look good 👀' : 'okay, i see you!! 💪 🥶' %>
                <br>
                <%= jordan.condition %>
                <br>
                <%= jordan.price %>
                <br>
                <%= jordan.comments %>
        </p>
    </h2>
    <a href="/jordans/<%= jordan._id%>/edit" class="b"> Edit/Add Extra Details </a>
    <br>
    <a href="/jordans" class="a">Done</a>
</body>

</html>